@import "../app.scss";

.data-table {
    width: 100%;
    th {
        text-align: left;
        padding: 7px 7px;
        border-bottom: $border;
        white-space: nowrap;
        &:hover {
            cursor: pointer;
            .fa-arrows-up-down {
                opacity: 0.5 !important;
            }
        }
        i {
            width: 20px;
            text-align: center;
        }
    }

    td {
        padding: 2px 7px;
        border-bottom: $border;
        white-space: nowrap;
    }

    td:first-child, th:first-child {
        width: 20px;
        text-align: center;
        font-size: 13px;
        padding: 0px;
    }

    .shrink {
        width:0.1%;
    }

    .group-heading + .group-item {
        box-shadow: 0 2px 4px 0px black inset;
    }

    .group-item:has(+ .group-heading) {
        box-shadow: 0 -2px 4px 0px black inset;
    }

    .group-item {
        background-color: var(--bg-light-color);
    }


    .group-heading, .group-item.clickable {
        cursor: pointer;
        &:hover, &.selected {
            background-color: var(--bg-highlight-color);
        }
    }

    .dist1 {
        background-color: var(--bg-strong-color2);
    }

    td.pipe {
        // height: 10px;
            position: relative;
            span {
                position: absolute;
                right: 0px;
                top: 0px;
                font-size: 20px;
            }
    }
}